{% load static %}

<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header" style="position: sticky;
top: 0;
z-index: 999;">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <span><img src="{% static 'assets/images/log1.png' %}" alt="" class="img-fluid" width=200></span>
         </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li  {% if '/' == request.path %}
                class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %} >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li {% if 'projects' in request.path or 'project_details' in request.path %}
              class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}>
            <a class="nav-link" href="{% url 'projects' %}">Projects</a>
          </li>
          <li {% if 'innovations' in request.path or 'innovation_details' in request.path  %}
            class="nav-item active"
          {% else %}
              class="nav-item"
          {% endif %}>
            <a class="nav-link" href="{% url 'innovations' %}">Innovations</a>
          </li>
          <li {% if 'publications' in request.path or 'publication_details' in request.path %}
              class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}>
            <a class="nav-link" href="{% url 'publications' %}">Publications</a>
          </li>
          <li {% if 'researchers' in request.path %}
              class="nav-item active"
            {% else %}
                class="nav-item"
            {% endif %}>
            <a class="nav-link" href="{% url 'researchers' %}">Researchers</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</section>